<div class="row">
  <div class="col-md-7">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Pacientes</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input ng-model="busqueda" type="text" name="table_search" class="form-control pull-right" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 10px;"></th>
              <th style="display: none">Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Domicilio</th>
              <th>Telefono</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="paciente in $ctrl.listpacientes| filter:busqueda track by $index">
              <td><a ng-href="{{$state.href(paciente, {'id':paciente._id})}}" class="btn btn-sm btn-info btn-flat" >VER</td>
              <td style="display: none" ng-bind="paciente._id"></td>
              <td ng-bind="paciente.nombre"></td>
              <td ng-bind="paciente.apellido"></td>
              <td ng-bind="paciente.domicilio"></td>
              <td ng-bind="paciente.telefono"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>